<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Raumserver</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"></link>


<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<div class="col-md-12">
		    <h1>Room Server Configuration</h1>
		    <h2>Identification</h2>	
			<p> <span th:text="${roomserverId}" ></span></p>
			<hr class="col-md-12"></hr>
		    <h2>Cloud Account</h2>	
			<p><span th:unless="${username}">not set</span><span th:text="${username}" ></span><a class="btn btn-link  btn-sm" href="/account" role="button">change</a></p>		
		</div>
	</div>
</body>
</html>